{% extends "pets/base.html" %}

{% block page_header %}

<div class="text-center my-5">
    <h1 class="display-5 fw-bold">Welcome back 👋</h1>

    <p class="lead text-muted">
        Log in and continue taking care of your pet.
    </p>
</div>

{% endblock page_header %}

{% block content %}

<div class="row justify-content-center">

    <div class="col-md-5">

        <div class="card shadow-sm border-0">

            <div class="card-body p-4">

                <form method="post">

                    {% csrf_token %}

                    {{ form.as_p }}

                    <button class="btn btn-success w-100 mt-3"
                            type="submit">
                        Log In
                    </button>

                    <input
                        type="hidden"
                        name="next"
                        value="{% url 'pets:index' %}">

                </form>

            </div>

        </div>

    </div>

</div>

{% endblock content %}